body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#hotels {
    padding-top: 100px;
}

#hotels h2::after {
    margin: 7px auto;
}


#hotels img {
    height: 368px;
    width: 290px;
    border-radius: 20px;
    object-fit: cover;
    position: relative;
}

#hotels .hotel-overlay {
    display: block;
    height: 368px;
    width: 290px;
    position: absolute;
    top: 0;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.45);
}

#hotels .hotel-info {
    position: absolute;
    bottom: 20px;
}

#hotels .hotel-info p {
    font-size: 1.2rem;
    margin-top: -10px;
}

#hotels .hotel-info .rating {
    font-size: 16px;
    margin: 0;
}

#hotels .hotel-info .star-rating {
    margin-top: -10px;
}

#hotels .hotel-info .star-rating i {
    color: #EBC154;
}





footer {
    margin-top: 250px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/about-video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 0 30px;
}

footer input.form-control {
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0) !important;
    color: #fff !important;
}

footer .footer-btn {
    background-color: #EBC154;
    color: #fff;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
}

footer input.form-control:focus {
    outline: none !important;

}

.footer-nav-link {
    font-size: 16px;
    color: #fff;
}

footer hr {
    border: 0.5px solid #fff;
    margin-top: 0;
}

footer .social-icons div {
    background-color: #EBC154;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

footer .social-links i {
    color: #fff;
    font-size: 18px;
}

footer .footer-navigation {
    padding: 0 100px;
    margin-top: 92px;
}



/* large screen  */
@media (min-width: 1000px) {
    .small {
      font-size: 1.2rem !important;
      margin: 0 !important;
    }
    .display-1 {
        font-size: 6rem!important;
      }
  }
  @media (max-width: 1000px) {
    .display-1 {
      font-size: 3.2rem!important;
    }
    .small {
      font-size: 0.9rem !important;
      margin: 0 !important;
    }
    .small-2 {
      font-size: 18px !important;
    }
    .small-3 {
      width: 40vw !important;
      margin: auto !important;
    }
  }
  @media (min-width:1000px) {
    
    .small-4 {
        height: 20rem !important;
      }
}
  @media (max-width: 700px) {
  
    .small {
      font-size: 0.7rem !important;
      margin: 0 !important;
    }
  
  }
  
  /* small screens  */
  @media (max-width: 500px) {
    .display-1 {
      font-size: 2.3rem!important;
    }
    .small-4 {
      height: 13rem !important;
    }
  }
  @media (max-width: 350px) {
    .display-1 {
      font-size: 2.3rem!important;
    }
    .small-4 {
      height: 11rem !important;
    }
  }
  
  *,
  html,
  body {
    scroll-behavior: smooth;
    position: relative;
  }
  .card-img {
    background: linear-gradient(rgba(7, 7, 7, 0.507), rgba(7, 7, 7, 0.514)),
      url("img/home.jpg");
    background-size: cover;
    background-position: center;
  }
  header {
    position: absolute;
    top: 0;
    width: 100%;
  }
  nav {
    width: 100%;
  }


  @media all and (max-width: 560px) {
    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    p, a {
        font-size: 14px;
    }

    #hero-section .large-circle {
        height: 350px;
        width: 350px;
        border-radius: 50%;
        border: 80px solid rgba(196, 196, 196, 0.19);
        position: absolute;
        top: calc(45% - 175px);
        left: calc(50% - 175px);
        margin: 0;
        z-index: 90;
    }

    #hero-section .carousel-caption h1 {
        margin-top: -100px;
        font-size: 24px;
        z-index: 90;
    }

    #hero-section h1 .bold-heading {
        font-size: 48px;
    }

    #hero-section .large-circle li img {
        width: 35px;
        height: 35px;
    }

    #hero-section .large-circle li:nth-child(1) {
        top: calc(100% + 30px);
        left: -5%;
    }

   
    #hotels {
        padding-top: 60px;
    }

    #hotels .sub-text {
        width: 85% !important;
    }

    #hotels img {
        height: 135px;
        width: 100%;
    }

    #hotels .hotel-overlay {
        height: 135px;
        width: calc(100% - 30px);
    }

    #hotels .hotel-info .star-rating {
        margin-top: -15px;
    }

    #hotels .hotel-info .star-rating i {
        font-size: 14px;
    }

    #hotels .hotel-info .rating {
        font-size: 14px;
        margin-top: 3px;
    }


    #about-section {
        padding-top: 60px;
    }
    
    #about-section .row {
        flex-flow: column-reverse;
    }

    #about-section .about-content {
        padding: 0 30px;
    }

   

    #about-section .about-video img {
        width: 80%;
        height: 150px;
        margin-left: 20%;
    }

    #about-section .about-video .video-overlay {
        width: calc(80% - 30px);
        height: 150px;
        margin-left: 20%;
    }

    #about-section .about-video .play-icon i {
        font-size: 24px;
    }

    #about-section .about-video .play-icon {
        top: 40%;
        left: 50%;
        padding: 5px;
    }



    #testimonials .carousel-indicators li img {
        width: 40px;
        height: 40px;
        margin-top: 70px;
    }

    #testimonials .carousel-indicators li {
        margin: 0 15px;
    }


    footer .footer-btn {
        font-size: 14px;
    }

    footer .form-control-lg {
        font-size: 14px;
    }

    footer .footer-navigation {
        padding: 0 10px;
    }

    footer ul.footer-navs {
        padding-inline-start: 0;
        margin-left: 0 !important;
    }

    footer .footer-navigation {
        margin-top: 30px;
    }

    .footer-nav-link {
        font-size: 8px;
    }

    .footer-navigation div {
        flex-direction: column;
    }

    footer .social-icons {
        margin-top: 20px !important;
    }

    footer .social-icons div {
        height: 30px;
        width: 30px;
    }

    footer .footer-text {
        width: 100% !important;
    }

    footer .social-links i {
        font-size: 14px;
    }

}
.sub {
    font-size: 1rem!important;
}
.nav-link {
    color: #fff;
    font-weight: 700;
}
.nav-link:hover {
    color: #EBC154;
}
.active {
    color: #EBC154;
}
.h:hover {
    background-color: #EBC154!important;
}
@media (max-width:400px) {
    .sub {
        font-size: 0.6rem!important;
    }
}
/* #loader {
    background-color: #ffd979;
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    transition:all 0.7s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  
  } */

@media (max-width:576px) {
    .sub {
        font-size: 0.6rem!important;
    }
    .small-4 {
        height: 13rem !important;
      }
}
@media (max-width:400px) {
    
    .small-4 {
        height: 12rem !important;
      }
}
@media (min-width:1000px) {
    
    .small-4 {
        height: 25rem !important;
      }
      .small-2 {
        font-size: 2rem;
        padding-top: 1rem;
      }
}